altgraph==0.17.4
asttokens==2.0.5
customtkinter==5.2.2
darkdetect==0.8.0
decorator==5.1.1
executing==0.8.3
jedi==0.18.1
matplotlib-inline==0.1.6
numpy==1.26.4
packaging==23.2
pandas==2.2.2
parso==0.8.3
pexpect==4.8.0
plotly==5.19.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.1
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools==68.2.2
six==1.16.0
stack-data==0.2.0
tenacity==8.2.2
traitlets==5.7.1
tzdata==2024.1
wcwidth==0.2.5
wheel==0.43.0
