{% extends "base.html" %}

{% block title %}SARS-CoV-Dice{% endblock %}

{% block content %}
<div class="input-section">
    <h1>Dice selection</h1>
    <form id="diceForm">
        {% from "macros/render_form.jinja2" import render_form_field %}
        {%for die in dice_form %}
        <div class="form-line">
            <div class="dice-inputs">
                {{ render_form_field(die) }}
            </div>
            <div class="invalid-input">
                {% if die.errors %}
                {% for error in die.errors %}
                <span>{{ error }}</span><br />
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
       <div class="form-line">
           <button type="button" onclick="rollDice()">Roll Dice</button>
       </div>
    </form>
</div>
<div class="graph-section">
    <h1>Graph</h1>
    <div class="charts">
        <div class="chart-placeholder">
            Charts will appear here once you roll the dice.
        </div>
    </div>
</div>
{% endblock %}
